@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .btn-primary {
    @apply py-2 px-5 bg-green-800 dark:bg-green-200 text-slate-200 dark:text-slate-800 font-semibold rounded-full shadow-md hover:bg-green-700 dark:hover:bg-green-400 focus:outline-none focus:ring focus:ring-green-200 dark:focus:ring-green-800 focus:ring-opacity-75;
  }
  .btn-secondary {
    @apply py-2 px-5 bg-slate-800 dark:bg-slate-200 text-slate-200 dark:text-slate-800 font-semibold rounded-full shadow-md hover:bg-slate-700 dark:hover:bg-slate-400 focus:outline-none focus:ring focus:ring-slate-200 dark:focus:ring-slate-800 focus:ring-opacity-75;
  }
}
